/* (c)2006 Centrum inc | ae Dezigns | styles common throughout the site*/
body, td, th{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px; margin:0px;}
h3{font-family: Arial, Helvetica, sans-serif;color:#9900FF; font-size:18px; font-weight:bold;}
h4{font-family: Arial, Helvetica, sans-serif;color: #101010;font-size:18px;font-weight: bold;}
td img {display: block;}
.title{font-weight: bold; margin: 10px 0;}
.container{max-width: 820px;  margin: 0 auto;}
.content{ font-size: 14px; line-height: 150%;}
.bg-color{background-color:#fffcf2; }
.nLink a{font-size:12px;color:#666666;text-decoration:none;font-weight:bold;padding-bottom:2px; padding-top:2px; padding-left:1px;}
.nLink a:hover{color:#9900FF;background-color:#CCCCFF;text-decoration:none;}
.footer{color:#FFFFFF;font-size:12px; margin: 20px 0;}
.footer a,a.footer:visited{color:#111;text-decoration:underline;}
.footer a:hover{text-decoration:none;}
.falselink{text-decoration:underline; color:#FF0033;}
.sub_header{font-size:14px; font-weight:bold;color:#121212; padding:5px;}
.sub_text{font-size:12px; color:#999999;}
.breadCrumb { margin-top: 10px; margin-bottom: 10px;}
.breadCrumb a{color:#0066cc; padding:4px;}
.breadCrumb a:hover {color:white;background-color:#9933FF;text-decoration: none}
.code_outerBorder{border:#FFFFFF 1px solid;}
.code_inner{padding:10px;border:#0033CC 1px dashed;background-color:#ddddFF;font-family:monospace;font-size:14px;color:#333333;}
.tutsLink a,a.tutsLink:visited{text-decoration:underline; text-align:left; padding-left:4px; color:#9900FF; font-size:14px;}
.tutsLink a:hover{text-decoration:none; color:#0066FF;}
.tuts_sidebar a, a.tuts_sidebar:visited{height:18px;text-align:center;display:block;text-decoration:none;width:140px;border:1px solid black;color:#000000;padding:2px;}
.tuts_sidebar a:hover{background-color:#9933FF;color:#FFFFFF;}

.ae_sublink a{color:#FFFFFF; text-decoration:none; background-color:#333333; display:block;font-size: 14px; padding: 1em;}
.ae_sublink a:hover{color:#9900FF; text-decoration:inherit; background-color:#FFFFFF;}
.linkSimple a{text-decoration:none; font-size:12px; color:#990000; font-weight:bold;}
.linkSimple a:hover{text-decoration:underline; color:#9900FF;}
.appCmd{ color:#CC3300; font-weight:bold;}

#randTutsBox{padding:6px;}
#tutsData{padding-left:30px; overflow:auto; font-size: 14px; line-height: 150%;}